 @use "abstracts/tokens" as t;

 #price-slider {
     height: 10px;

     .noUi-handle {
         height: 18px;
         width: 18px;
         top: -5px;
         right: -9px;
         border-radius: 9px;

         &::before,
         &::after {
             display: none;
         }
     }

     .noUi-connect {
         background: t.$color-primary;
     }
 }
