.star-rating {
    unicode-bidi: bidi-override;
    direction: rtl;

    span.star {
        &:before {
            content: "\F588";
            font-family: "bootstrap-icons";
            display: inline-block;
            color: #999;
        }
    }

    span.star.filled {
        &:before {
            content: "\F586";
            font-family: "bootstrap-icons";
            display: inline-block;
            color: #e3cf7a;
        }
    }
}

.star-rating-small {
    @extend .star-rating;
    font-size: 15px;

    span.star {
        &:before {
            padding-right: 1px;
        }
    }
}

.star-rating-big {
    @extend .star-rating;
    font-size: 25px;

    span.star {
        &:before {
            padding-right: 10px;
        }

        &:hover {
            cursor: pointer;

            &:before,
            ~span.star:before {
                content: "\F586";
                font-family: "bootstrap-icons";
                display: inline-block;
                color: #e3cf7a;
            }
        }
    }
}
