@import "variables";

.slider-block {
    .slider-btn {
        border: 1px solid $border-color;
        background-color: $white;
    
        &:hover {
            background-color: $primary;
            color: $white;
        }
    }
    .catalog-item {
        box-shadow: -.5px -.5px 0 .5px $gray-200, inset -1px -1px 0 0 $gray-200;
        .title {
            margin: .5rem 0;
            height: 50px;
            overflow: hidden;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            line-height: 1.4rem;
            font-size: 1.2rem;
            font-weight: 500;
        }

        .item-footer {
            height: 65px;
        }
    }
}